certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
opencv-python==3.4.0.12
peewee==3.2.5
Pillow==9.3.0
pyzbar==0.1.5
requests==2.18.4
urllib3==1.22
Werkzeug==0.14.1
zbar-py==1.0.4
